{% extends 'base.html' %}
{% block content %}


<h1>{{q.name}}</h1> 
        <table>
        <tr>
            <th><p>{{q.date}}</p></th>
        </tr>

        <tr>
            <td>
                
                <form method="Post" action="{%url 'vote:vote'%}"> {%csrf_token%}
                {% for c in q.choice_set.all %} 
                <input type="radio" name="a" value="{{c.id}}"> 
                <label>{{c.name}}</label> 

                <br>
                {% endfor %}
                <input type="submit" value="투표하기">
                </form>
                
            </td>
        </tr>
        
        </table>
        <br>
        <div align="center">

{% endblock %}